<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.watzthis.app"
	version 	= "1.0.0">

	<name>WatzThis</name>

	<description>
		The Native WatzThis App
	</description>

	<author href="http://www.watzthis.com"
		email="chris@minnick.com">
		Chris Minnick
	</author>

	<icon src="apple-touch-icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<preference name="orientation" value="portrait" />
	<access origin="*" />
</widget>